.productdisplay {
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 60px;
}

.productdisplay-img-list img {
    height: 125px;
}

.productdisplay-main-img {
    width: 600px;
    height: 600px;
}

.productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.product-right-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #D74444;
    font-size: 30px;
}

.productdisplay-right-description h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}


.quantity-container h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.quantity-container form input {
    padding: 5px;
    border: 1px solid rgba(101, 101, 101, 0.4);
    border-radius: 7px;
    width: 40px;
    height: 25px;
    font-size: 18px;
    font-family: Poppins;
}

.productdisplay-right-option h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-options {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-options div {
    padding: 7px 14px;
    border-radius: 7px;
    background-color: #EAEAEA;
    border: 2px solid #D74444;
    cursor: pointer;
}

.productdisplay-right-options div.active {
    font-weight: bold;
    color: #d74444;
    border: 4px solid #D74444;
}



.productdisplay-right button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #d74444;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category {
    margin-top: 10px;
    text-transform: capitalize;
}

.productdisplay-right-category span {
    font-weight: 60px;
}