.new-arrivals {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    height: 70vh;
    background: #FFFDFD;
}


.new-arrivals-heading {
    display: flex;
    text-align: left;
    padding-left: 200px;
}

.new-arrivals-heading h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 6px solid #252525;
}

.view-all {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 250px;
    font-size: 20px;
}

.new-arrivals-item {
    display: flex;
    justify-content: center;
    /* Center align items */
    gap: 30px;
}

/*For Responsive Design*/
@media(max-width:1440px) {
    .new-arrivals {
        height: 70vh;
    }

    .new-arrivals-heading h1 {
        font-size: 50px;
    }
}

@media(max-width:1320px) {
    .new-arrivals {
        height: 65vh;
    }

    .new-arrivals-heading h1 {
        font-size: 46px;
    }
}

@media(max-width:1230px) {
    .new-arrivals {
        height: 61vh;
    }

    .new-arrivals-heading h1 {
        font-size: 41px;
    }
}

@media(max-width:1100px) {
    .new-arrivals {
        height: 57vh;
    }

    .new-arrivals-heading h1 {
        font-size: 37px;
    }
}

@media(max-width:1000px) {
    .new-arrivals {
        height: 53vh;
    }

    .new-arrivals-heading h1 {
        font-size: 32px;
    }
}

@media(max-width:910px) {
    .new-arrivals {
        height: 48vh;
    }

    .new-arrivals-heading h1 {
        font-size: 29px;
    }
}

@media(max-width:820px) {
    .new-arrivals {
        height: 45vh;
    }

    .new-arrivals-heading h1 {
        font-size: 25px;
    }
}