.search-result-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.search-result-sort {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #888;
}

.search-result-sort img {
    margin-left: 5px;
}

.search-result-sort form {
    margin-left: 2px;
    border: none;
}

.search-result-sort select {
    height: 30px;
    border: none;
    font-size: 16px;
    font-family: Poppins;
}

.search-result-indexSort p span {
    font-weight: 600;
}

.search-result-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.search-result-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

.searchResult {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    margin-left: 130px;
    gap: 10px;
}

.search-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-option p {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
}

.search-bar-component {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.search-result-price-range {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-result-price-range input {
    height: 35px;
    width: auto;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
    font-family: 'Poppins', cursive;
}

.search-result-fields input {
    height: 35px;
    width: 300px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
    font-family: 'Poppins', cursive;
}

.search-bar-component button {
    height: 35px;
    width: auto;
    margin-top: 0px;
    border-radius: 8px;
    padding: 0px 20px;
}

.search-result h1 {
    display: flex;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
}