.search {
    background: url("../../Components/Assets/SearchPage_bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

.search-container {
    position: relative;
    justify-content: center;
    width: 570px;
    height: 265px;
    background: #ffffff;
    margin: auto;
    padding: 20px 40px;
}

.search-container h1 {
    margin: 20px 0px;
}

.search-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-option p {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}

.search-fields-price-range {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.search-fields-price-range div {
    font-size: 20px;
    font-weight: 400;
}

.search-fields-price-range input[type="number"]::-webkit-inner-spin-button,
.search-fields-price-range input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search-fields-price-range input[type="number"] {
    -moz-appearance: textfield;
}

.search-fields-price-range input {
    height: 52px;
    width: 30%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
    font-family: 'Poppins', cursive;
}

.search-fields input {
    height: 52px;
    width: 95%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
    font-family: 'Poppins', cursive;
}

button {
    width: 580px;
    height: 52px;
    color: #ffffff;
    background: #d74444;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', cursive;
}

@media(max-width:700px) {
    .search-container {
        padding-top: 20px;
        width: 470px;
        height: 300px;
    }

    .search-container h1 {
        font-size: 25px;
    }

    .search-option {
        font-size: 13px;
    }

    .search-container button {
        width: 100%;
    }
}