.add-product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}

.addproduct-details {
    flex-grow: 1;
    margin-right: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    margin-right: 20px;
}

.addproduct-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    margin-bottom: 20px;
}

.addproduct-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.render-variables input {
    margin-bottom: 10px;
}

.addproduct-price {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.add-product-selector {
    padding: 10px;
    width: 130px;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
    font-family: Poppins;
}

.add-product-thumnail-img {
    height: 180px;
    width: 180px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 5px;
}

.addproduct-item-image {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addproduct-item-image label {
    margin-top: 10px;
}

.addproduct-btn {
    margin-top: 20px;
    margin-left: 50px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}


@media(max-width:800px) {
    .add-product {
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}