.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    box-shadow: 0 1px 3px -2px black;
    border-bottom: 3px solid rgba(215, 68, 68, 0.33);
}

.navbar-left {
    display: flex;
    justify-content: left;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav-logo p {
    color: #1E1E1E;
    font-size: 38px;
    font-weight: 600;
    font-family: 'iceberg', cursive;
}

.nav-logo a {
    color: #1E1E1E;
    text-decoration: none;
}

.nav-logo a:visited {
    color: #1E1E1E;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 400;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu a {
    color: #1E1E1E;
    text-decoration: none;
}

.nav-menu a:visited {
    color: #1E1E1E;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border: radius 10px;
    background: #d74444;
}

.navbar-right {
    display: flex;
    justify-content: right;
}

.nav-login-cart {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.nav-login-cart button {
    width: 100px;
    height: 40px;
    margin: 0px;
    outline: none;
    border: 2px solid #dadada;
    border-radius: 15px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -28px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background: #d74444;
    color: white;
}

/*For Responsive Design*/
@media(max-width:1440px) {
    .nav-bar {
        padding: 0px 15px;
    }

    .nav-logo img {
        width: 100%;
    }

    .nav-logo p {
        font-size: 38px;
    }

    .nav-menu {
        gap: 45px;
        font-size: 17.5px;
    }

    .nav-login-cart {
        gap: 25px;
    }

    .nav-login-cart button {
        width: 110px;
        height: 50px;
        font-size: 20px;
    }

    .nav-login-cart img {
        width: 100%;
    }

    .nav-cart-count {
        margin-left: -35px;
        font-size: 14px;
    }
}

@media(max-width:1190px) {
    .nav-bar {
        padding: 0px 13px;
    }

    .nav-menu {
        gap: 38px;
        font-size: 16.25px;
    }

    .nav-logo img {
        width: 80%;
    }

    .nav-login-cart button {
        width: 100px;
        height: 45px;
        font-size: 16.25px;
    }

    .nav-login-cart img {
        width: 87%;
    }

    .nav-cart-count {
        margin-left: -40px;
        width: 18px;
        height: 18px;
        font-size: 12px;
    }
}

@media(max-width:1050px) {
    .nav-bar {
        padding: 0px 11px;
    }

    .nav-logo img {
        width: 70%;
    }

    .nav-logo p {
        font-size: 36px;
    }

    .nav-menu {
        gap: 32px;
        font-size: 15px;
    }

    .nav-login-cart {
        gap: 13px;
    }

    .nav-login-cart button {
        width: 90px;
        height: 40px;
        font-size: 15px;
    }

    .nav-login-cart img {
        width: 75%;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 11px;
    }
}

@media(max-width:940px) {
    .nav-bar {
        padding: 0px 9px;
    }

    .nav-logo img {
        width: 70%;
    }

    .nav-logo p {
        font-size: 33px;
    }

    .nav-menu {
        padding-left: 20px;
        gap: 26px;
        font-size: 15px;
    }

    .nav-login-cart {
        gap: 6px;
    }

    .nav-login-cart button {
        margin-left: 9px;
        width: 80px;
        height: 35px;
        font-size: 15px;
    }

    .nav-login-cart img {
        width: 70%;
        gap: 2px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 11px;
    }
}

@media(max-width:940px) {
    .nav-bar {
        padding: 0px 9px;
    }

    .nav-logo img {
        width: 70%;
    }

    .nav-logo p {
        font-size: 33px;
    }

    .nav-menu {
        padding-left: 20px;
        gap: 26px;
        font-size: 15px;
    }

    .nav-login-cart {
        gap: 6px;
    }

    .nav-login-cart button {
        margin-left: 9px;
        width: 80px;
        height: 35px;
        font-size: 15px;
    }

    .nav-login-cart img {
        width: 70%;
        gap: 2px;
    }

    .nav-cart-count {
        margin-left: -27px;
        font-size: 11px;
    }
}

@media(max-width:750px) {
    .nav-bar {
        padding: 0px 9px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 22px;
    }

    .nav-menu {
        padding-left: 20px;
        gap: 26px;
        font-size: 11px;
    }

    .nav-login-cart {
        gap: 6px;
    }

    .nav-login-cart button {
        margin-left: 9px;
        width: 80px;
        height: 35px;
        font-size: 15px;
    }

    .nav-login-cart img {
        width: 70%;
        gap: 2px;
    }

    .nav-cart-count {
        margin-left: -27px;
        font-size: 11px;
    }
}