.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    box-shadow: 0 1px 3px -2px black;
    border-bottom: 3px solid rgba(215, 68, 68, 0.33);
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    
    .navlogo{
        width: 150px;
    }
}