.list-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: #ffffff;
}

.listuser-format-main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listuser-format {
  align-items: center;
  font-weight: 500;

}

.listuser-icon {
  cursor: pointer;
  margin: auto;
  max-width: 20px;
  margin-left: 20px;
}

.listuser-icon-remove {
  cursor: pointer;
  margin-left: 30px;
  height: auto;
  max-width: 35px;
}



.listuser-allusers {
  overflow-y: auto;
  width: 100%;
}

@media(max-width:800px) {
  .listuser {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 30px;
    margin: 20px auto;
  }

  .listuser-format-main {
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }

}